[Unit]
Description=Stop the blink process to prevent file corruption on shutdown
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/bin/bash /home/jenga/client/safe-shutdown.sh
RemainAfterExit=yes

[Install]
WantedBy=halt.target reboot.target shutdown.target